body {
    background: #4e4e8f;
}

p {
    color: #ffffff;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    width: 100px;
    height: 50px;
   margin-left: 45%;
   margin-top: 15%;
   position: absolute;
   border-radius: 20px 20px;
   box-shadow: #ffffff 3px 3px 20px;
   font-size: 2rem;
}